@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}

/* heading and logo*/

h1, h2 {
    font-family: 'Mate SC', serif;
}

#heading {
    background-color: #D6AD5B;
    letter-spacing: 4px;
    width: 100%;
    border: 1px solid black;
}

#logo {
    float: left;
    margin-left: 70px;
}

/* navigation */

nav > a {
    text-decoration: none;
}

#menu {
    float: right;
}

#menu li{
    list-style-type: none;
    margin-right: 70px;
    display: inline;
}

