@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}

/* heading and logo*/

h1, h2, h3 {
    font-family: 'Mate SC', serif;
}

#heading {
    background-color: #D6AD5B;
    letter-spacing: 2px;
    width: 100%;
    border-bottom: 2px solid black;
    height: 80px;
}

#logo {
    float: left;
    margin-left: 70px;
    height: 75px;
}

#logo img {
    width: 70px;
    border-radius: 50%;
    margin: 2px;
    border: 2px solid black;
}

#logo img:hover {
    border: 3px solid black;
    margin: 1px;
}

#logo img:active {
    border: 4px solid black;
    margin: 0px;
}

/* navigation */

#menu {
    float: right;
    line-height: 80px;
}

#menu li{
    list-style-type: none;
    margin-right: 70px;
    display: inline;
}

#menu a {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

#menu a:active {
    border-bottom: 3px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image and text*/

#hero-image {
    height: 60vh;
    /* height: 880px */
    width: 100%;
    background: url("../images/ss_great_britain_crop.jpg") no-repeat center center;
    background-size: cover;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#hero-text {
    color: white;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, .5);
    width: 860px;
    height: 144px;
    padding: 33px 75px 12px;
    border-radius: 20px;
    text-align: center;
    margin: auto auto;
    position: relative;
    top: 40%;
}

#hero-text h1 {
    font-size: 64px;
}

/* Who was Brunel Section */

.section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

#who {
    letter-spacing: 2px;
    background-color: #c4c4c4;
    width: 640px;
    height: 160px;
    padding: 32px 44px 25px;
    border-radius: 17px;
    text-align: center;
    margin: auto auto;
    top: 40px;
    font-size: 18px;

}

#who h2 {
    font-size: 48px;
}

/* Video Section */

iframe {
    border-radius: 17px;
    width: 440px;
    height: 223px;
}

#videos {
    height: 300px;
    width: 100%;
    float: right;
    display: flex;
    justify-content: center;
}

.youtube-video {
    padding-top: 30px;
    width: 40%;
    text-align: center;
}

/* Info and image of Brunel */

.info {
    letter-spacing: 2px;
    background-color: #c4c4c4;
    width: 75%;
    height: 180px;
    padding: 32px 44px 25px;
    margin: 30px auto;
    border-radius: 17px;
}

#info_img_info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#left-about {
    width: 33%;
    text-align: left;
}

#right-about {
    width: 33%;
    text-align: right;
}

#brunel-img-container {
    width: 33%;
    text-align: center;
}

#brunel-img {
    width: 310px;
    height: 632px;
    border-radius: 32px;
    background: url('../images/brunel.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}

/* Footer */

#footing {
    background-color: #D6AD5B;
    letter-spacing: 2px;
    width: 100%;
    border-top: 2px solid black;
    height: 80px;
}

.social {
    text-align: center;
    height: 80px;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 160%;
    padding: 10px;
    margin: 10px 5% 10px;
    color: black;
    text-align: center;
}

.fa-facebook:hover {
    color: #2d88af;
}

.fa-twitter:hover {
    color: #2DAAE2;
}

.fa-youtube:hover {
    color: #FE3432;
}
/* Responsive design for screens 1024px width and below */

@media screen and (max-width: 1024px) {

    /* heading and logo*/

    #logo {
        margin-left: 35px;
    }

    /* navigation */

    #menu li {
        margin-right: 35px;
    }

    #menu a {
        font-size: 18px;
    }

    /* hero image and text*/

    /* #hero-image {
        height: 520px;
    } */

    #hero-text {
        width: 430px;
        height: 72px;
        padding: 33px 15px 12px;
    }

    #hero-text h1 {
        font-size: 32px;
    }

    #hero-text h2 {
        font-size: 12px;
    }

    /* Who was Brunel Section */

    #who {
        letter-spacing: 0px;
        width: 75%;
        height: auto;
        top: 16px;
    
        }

    #who h2 {
        letter-spacing: 2px;
    }

    /* Video Section */

    #videos {
        display: grid;
        height: 600px;
    }

    .youtube-video {
        width: 100%;
    }

    /* Info and image of Brunel */

    #info_img_info {
        display: grid;
    }

    #left-about {
        width: 100%;
        text-align: center;
    }
    
    #right-about {
        width: 100%;
        text-align: center;
    }
    
    #brunel-img-container {
        width: 100%;
        text-align: center;
    }
    
    #brunel-img {
        width: 310px;
        height: 310px;
        border-radius: 50%;
        background: url('../images/brunel.jpg') no-repeat center 10%;
    }
}

/* responsive design for screens 500px width and below */

@media screen and (max-width: 500px) {

    /* heading and logo*/

    #logo {
        margin-left: 5px;
    }

    /* navigation */

    #menu li {
        margin-right: 10px;
    }

    #menu a {
        font-size: 16px;
        letter-spacing: 0px;
    }

    /* hero image and text*/

    /* #hero-image {
        height: 300px;
    } */

    #hero-text {
        width: 300px;
        height: 54px;
        padding: 16px 5px 5px;
    }

    #hero-text h1 {
        font-size: 20px;
    }

    #hero-text h2 {
        font-size: 12px;
    }

    /* Who was Brunel Section */

    #who {
        letter-spacing: 0px;
        width: 310px;
        height: auto;
        padding: 16px 5px 16px;
        top: 16px;
        font-size: 12px;
    }
    
    #who h2 {
        font-size: 20px;
    }

    /* Video Section */

    iframe {
        width: 310px;
        height: 157px;
    }

    #videos {
        height: 352px;
    }

    .youtube-video {
        padding-top: 15px;
    }

    .info {
        padding: 18px 30px 25px;
    }

}

